<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="box">
      <input type="text" v-model="keyword" />
      <ul>
        <li v-for="value in fSearch">
          <p>{{value}}</p>
        </li>
      </ul>
    </div>
  </body>
  <script src="./js/vue.js"></script>
  <script>
    var vm = new Vue({
      el: "#box", //确定根元素
      data: {
        keyword: "",
        list: ["百度", "百度翻译", "百度地图", "百度网盘", "百度新闻"],
      },
      computed: {
        //设置计算属性
        fSearch() {
          if (this.keyword) {
            return this.list.filter((value) => {
              //过滤数组元素
              return value.includes(this.keyword); //如果包含字符返回true
            });
          }
        },
      },
    });
  </script>
</html>
